---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.svelte'
import Home from '../components/Home.svelte'
---

<Layout title=".::..hksh..::.">
  <Header client:load />
  <main>
    <Home client:load />
  </main>
</Layout>
