---
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<div class="flex-center">
  <header class="h-18 fixed left-0 right-0 top-0 bg-neutral-950 p-8 text-xl">
    <div class="mx-auto px-4">
      <div class="flex-center space-x-12">
        <a href="#" class="link">{t('header.home')}</a>
        <a href="#projects" class="link">{t('header.projects')}</a>
        <a href="https://social.hksh.icu" class="link">{t('header.social')}</a>
      </div>
    </div>
  </header>
</div>
