---
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<div class="md:flex-center mt-24 flex-col">
  <div id="projects" class="flex flex-col items-start justify-center p-4">
    <div class="space-y-8" id="hobbies">
      <h1 class="text-3xl md:text-5xl">{t('hobbies')}</h1>

      <p>{t('hobbies.description')}</p>

      <div class="space-y-12 md:m-4 md:flex md:flex-row md:justify-start md:space-x-20 md:p-4">
        <div class="box">
          <h2 class="text-xl md:text-2xl">{t('gaming')}</h2>
          <p class="text-lg font-medium">{t('gaming.description')}</p>
        </div>

        <div class="box">
          <h2 class="text-lg md:text-2xl">{t('languages')}</h2>
          <p class="text-lg font-medium">{t('languages.description')}</p>
        </div>

        <div class="box">
          <h2 class="text-lg md:text-2xl">{t('anime')}</h2>
          <p class="text-lg font-medium">{t('anime.description')}</p>
        </div>
      </div>
    </div>
  </div>
</div>
